




h1 {
    color: rgb(248, 0, 145);
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
  }
 
  .map{
    padding: 12px 180px;
    height: auto;
  }
  

  
  .bold{
   font-weight: bold;
   text-align: center;
   width : 300px;
  
  }
  #head{
    font-weight: bold;
  }
  
  img{
    width : 300px;
    height: auto;
    border-radius: 25px;
    padding: 20px;
  }
  p{
    width : 300px;
    height: auto;
  }
 
  
  
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  
  
  
  
  